{% extends 'base.html' %}

{% block title %}<title>{{ page_title }} | Aldrin Cerezo</title>{% endblock %}

{% block content %}
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sit sed, dolorum vitae aliquam ipsam dicta non
    doloremque ad fugit numquam eligendi cumque at repellat, eaque officiis eius suscipit quidem doloribus dolores
    veritatis asperiores commodi dolore id? Excepturi consectetur, alias at blanditiis molestias sit vitae, tempore et
    totam, quod illo.</p>
<a href="/">Go to Home Page</a>
{% endblock %}